doctype html
html
    head
        title Welcome to CHAT!!
        link(rel='stylesheet', type='text/css', href='../stylesheets/css/homepage.css')
        script(type='text/javascript', src='../scripts/jquery.js')
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
        script(type='text/javascript', src='scripts/login_validation.js')
    body
        .header
            .logo MYCHAT
            a(href='/register')
                .register Register
            a(href='/login')
                .login Login
        .content
            .login-form
                form(action='/authenticate', method='post')
                    label(for='username') Username
                    input#username(type='text', name='username', placeholder='Enter username')
                    label(for='password') Password
                    input#password(type='password', name='password', placeholder='Enter password')
